<fieldset>
  <legend><h2><%=@user.name.titlecase%>: </h2></legend>

    <button class="js-view-decks" data-id="<%= @user.id %>">View Decks</button>

    <div id="user_decks"></div>

    <h3> Cards: </h3>

    <button class="js-view-cards" data-id="<%= @user.id %>">View Cards</button>

    <div id="user_cards"></div>

</fieldset>
