<fieldset>
  <legend><h1>Welcome to Magic Manager Pro</h1></legend>

  <%= form_tag(login_path, method: "get") do %>
    <%= submit_tag("Log In") %></h4></br>
  <% end %>

  <%= form_tag(new_user_path, method: "get") do %>
    <%= submit_tag("Create an Account") %></h4></br>
  <% end %>

</fieldset>
