<div class="ui container transbox">
  <fieldset>
    <legend><h2>Edit <%= @card.magic_card_name%>: </h2></legend>

    <%= render partial: "user_card_errors"%>

    <%= render partial: "user_card_form", locals: {editing: true}  %>

  </fieldset>
</div>
