<% if @deck.errors.any? %>
  <div class="ui error message" id="error_explanation">
    <div class="header">
      <%= pluralize(@deck.errors.count, "error") %>
      prohibited this post from being saved:
    </div>

    <ul class="list">
    <% @deck.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
