<div class="ui container transbox">
  <fieldset>
    <legend><h2>Create a New Deck: </h2></legend>

    <%= render partial: "deck_form_errors"%>

    <%= render partial: "deck_form"%>

  </fieldset>
</div>
